[cobbler]
name=Cobbler (2.6.x)
type=rpm-md
baseurl=http://download.opensuse.org/repositories/home:/libertas-ict:/cobbler26/{{ ansible_distribution }}_{{ ansible_distribution }}-{{ ansible_distribution_major_version }}/
gpgcheck=1
gpgkey=http://download.opensuse.org/repositories/home:/libertas-ict:/cobbler26/{{ ansible_distribution }}_{{ ansible_distribution }}-{{ ansible_distribution_major_version }}/repodata/repomd.xml.key
enabled=1
